.content{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: center;
  gap: 20px;
  }
  
  .playlist-container{
    box-sizing: border-box;
    width: 165px;
    height: 243px;
    background-color: #272727;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    position: relative;
  }
  
  .playlist-content{
    height: 203px;
      overflow: hidden;
  }
  
  .playlist-poster{
    position: relative;
   margin-bottom: 10px;
  }
  .description > span{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .description > p{
    font-size: 11px;
    color: #b3b3b3;
    margin-top:10px;
  }
  
  .content-title{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  
  .content-title > span{
    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  
  .content-message{
    color: #b3b3b3;
    font-size: 14px;
   margin-bottom: 10px;
  }

.playlist-poster{
    width: 125px;
    height: 125px;
}

.featured{
   margin-bottom: 30px;
}

.newrelease{
    margin: 10px 0;
}