.menu{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: .75fr 6fr 1.1fr;
    grid-template-areas: 
    'sidebar navbar'
    'sidebar body'
    'footer footer'
    ;
    height: 100vh;
}