.body {
  flex: 1;
  grid-area: body;
  background-color: #121212;
  position: relative;
  z-index: 1;
  padding: 30px;
  color: #fff;
  overflow: auto;
  
}


.body::-webkit-scrollbar{
  width: 13px;

}

.body::-webkit-scrollbar-track{
  
  background: #121212
}

.body::-webkit-scrollbar-thumb{
  background: #505050
  
}