.playlist{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 0 26px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
}

.playlist > span:first-child{
    margin-top: 10px;
    color: #b3b3b3;
}

.playlist > span{
    margin-top: 20px;
    color: #b3b3b3;
}

.playlist > span:hover{
    color: #fff;
    cursor: pointer;
}

.playlist::-webkit-scrollbar{
    width: 13px;
  }
  
  .playlist::-webkit-scrollbar-track{
    
    background: #040404
  }
  
  .playlist::-webkit-scrollbar-thumb{
    background: #505050
    
  }